apiVersion: v1
kind: Secret
metadata:
  name: seaweedfs-s3-config
  namespace: seaweedfs
type: Opaque
stringData:
  seaweedfs_s3_config: |
    {
      "identities": [
        {
          "name": "nextcloud",
          "credentials": [
            {"accessKey": "REPLACE_ME", "secretKey": "REPLACE_ME"}
          ],
          "actions": ["Read:nextcloud", "Write:nextcloud", "List:nextcloud", "Tagging:nextcloud"]
        }
      ]
    }
